* {
  margin: 0;
  gap: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

.container {
  position: relative;
  display: grid;
  width: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas:
    "pic1 pic3 pic4"
    "pic1 pic3 pic6"
    "pic2 pic3 pic6"
    "pic2 pic5 pic5";
    gap: 10px;
}

.container .pic1 {
  grid-area: pic1;
}
.container .pic2 {
  grid-area: pic2;
}
.container .pic3 {
  grid-area: pic3;
}
.container .pic4 {
  grid-area: pic4;
}
.container .pic5 {
  grid-area: pic5;
}
.container .pic6 {
  grid-area: pic6;
}

.container .item {
  position: relative;
  /* background: #fff; */
}

.container .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 10px;
}

.container:hover .item img:not(:hover) {
  filter: grayscale(1);
  opacity: 0.5;
}