/* base css */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  color: #333;
  min-width: 1226px;
}

ul {
  list-style-type: none;
}
/* setting all <a> which is link's default style */
a {
  text-decoration: none;
  color: inherit;
}

/* containers in the middle */
.w {
  width: 1226px;
  margin: 0 auto;
}

/* clear float and fix container's height collapse */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}